<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="public/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://js.pusher.com/platform/latest/pusher-platform.js"></script>
    </head>
    <body>
        <header>
            <div id="name">
                <span class="light">getme</span>there
            </div>
            <div id="tagline">
                <p class="center">
                    Your favourite artists. Only the best prices.
                </p>
            </div>
            <p style="margin: 15px auto 0px auto; text-align: center; font-size: 16px;"><input type="checkbox" name="similarBool" value="true" checked/>Include similar artists</p>
        </header>

        <main>
            <form action="artist" type="post">
            <section id="searchBox">
                <div id="searchControls">
                    <span class="light">get me tickets for: </span><input type="text" name="artist" id="artist" onfocus="clearSheeran(this)" value="Ed Sheeran" />
                </div>

                <div id="searchButton">
                    <input type="submit" value=""/>
                </div>
            </section>
        </form>
            <section id="recentSearches">
                <div id="recentHeader">
                    Our users are looking for
                </div>
                <section id="searches">
                    <div class="searchItem">
                        <div class="itemPicture"><img src="public/artists/ed.jpg" /></div>
                        <div class="itemName">Ed Sheeran</div>
                    </div>
                </section>
            </section>
        </main>

    </body>
    <script>
        function clearSheeran(x) {
//            x.style.background = "yellow";
            x.value = "";
        }

        $( document ).ready(function() {
            var app = new PusherPlatform.App({
                appId: '0147601c-3f6e-4922-ad97-5357f96b1955',
            });

            var adventuresFeed = app.feed('livesearch');

            app.g

            adventuresFeed.subscribe({
                onOpen: () => console.log('Connection established'),
                onItem: item => displayItem(item),
                onError: error => console.error('Error:', error)
            });
        });

        function displayItem(item){
            console.log(item);
            item = JSON.parse(item);
            $('#searches').prepend('<div class="searchItem new-item"> <div class="itemPicture"><img src="public/music.svg" /></div> <div class="itemName">' + item.concert.artist + ' - ' + item.flight.destination + ' ( ' + item.flight.carrier + ')</div> </div>');
        }
    </script>
</html>
